@media only screen and ( max-width: 768px){
    .a-huge img{
        margin-top: 138px;
        margin-left: 34px;
        font-size: 86px;
        margin-right: 10px;
        width: 300px;
    }
    .a-huge img{
    margin-top: 20px;
    margin-left: 39px;
    width: 300px;
  }
  .a-huge h3{
    margin-top: 20px;
    margin-left: 260px;
  }














}








